/* CSS Document */
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	
	background: #022045;
}
header{
		background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../first.jpg);
		height:100vh;
		background-size: cover;
		background-position: center;
}
.home{
	color: black;
}
.home:link{
	background: #fff;
	color: #ccc;
}
	ul{
		float: right;
		list-style-type: none;
		margin-top: 30px;
}
		
ul li{
	   display: inline-block;

}
ul li a{
	text-decoration: none;
	color: white;
	padding:7px 21px;
	border: 1px bold #fff;
	transition: 0.4s ease;
}
ul li a:hover{
	background-color: #fff;
	color: black;
}
ul li.active a{
				background-color: #fff;
	            color:#000;
	
}		
.logo img{
			float: left;
			width: 150px;
			height: auto;
			background-color: #fff;
			border-radius: 200px;
			margin-top: 5px;
			margin-left: 6px;	
}		
.main{
		max-width: 1600px;
		margin: auto;
}
.title{
		position : absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		margin-left: 20px;

}	 
.title h1{
			color: #fff;
			font-size: 60px;

}
.button{
		position : absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%,-50%);
		margin-left: 30px;

}
.btn{
		border: 1px bold #fff;
		padding: 10px 30px;
		color: #fff;
		text-decoration: none;

}
.btn:hover{
			background-color: #fff;
	        color: blue;
}
.footer{
	width: 100%;
	height: 350px;
	background: #022045;
}
.foot{
	margin-top:50px; 
	float: left;
	width: 300px;
	height: 350px;
}
#f1{
	margin-left: 25px;
}
h2{
	margin-bottom: 40px;
	color: #ffffff;
}
.font{
	margin-top: 10px;
	margin-left: 10px;
	font-size: 20px;
	color: white;
}
.company{
	margin-top: 25px;
	margin-left: 10px;
	color: white;
}
p{
	margin-top:30px; 
	padding-bottom: 22px;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Nanum Gothic', sans-serif;
	color: #0247d9;

}
 body {
        font-family: Arial, Helvetica, sans-serif;}
      * {
        box-sizing: border-box;
      }
      .open-button {
      background-color: #555;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 28px;
      width: 280px;
      }
      .form-popup {
      /*display: none;*/
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #ccc;
      z-index: 9;
      }
      .form-container {
      max-width: 300px;
      padding: 10px;
      background-color: #05a081;
      }
      .form-container input[type=text], .form-container input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
      }
      .form-container input[type=text]:focus, .form-container input[type=password]:focus {
      border:2px solid red;
      outline: none;
      }
      .form-container .btn {
      background-color: #4CAF50;
      color: white;
      padding: 18px 16px;
      border: none;
      cursor: pointer;
      width: 30%;
      margin-bottom:10px;
      opacity: 0.6;
      border-radius: 20px;
      margin-left: 10%;
      }
      .form-container .btn1 {
      background-color: red;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.6;
      border-radius: 20px;
      }
      .btn1 a{
        color: white;
        text-decoration: none;
      }
      .form-container .cancel {
      background-color: black;
      opacity: 0.5;
      }
      .btn:hover,
      .open-button:hover {
      opacity: 1;
      background: #efed40;
      color:#262626;
      border-radius: 20px;
      }
      .btn1:hover
      {
      opacity: 1;
      background: #efed40;
      color:#262626;
      }

      footer
      {
      display: block;
      }